*.jl.cov
*.jl.*.cov
*.jl.mem
src/.cache
src/logo.png
**/._*
Manifest.toml
/build

\.DS_Store
CairoMakie/src/display.*

WGLMakie/test/recorded/
GLMakie/test/recorded/
GLMakie/test/recorded_glmakie/
RPRMakie/test/recorded/
CairoMakie/test/recorded/
CairoMakie/src/display.svg
CairoMakie/src/display.pdf
CairoMakie/src/display.png
monorepo
.vscode/settings.json
docs/documentation/news.md
