*.jl.cov
*.jl.*.cov
*.jl.mem
src/.cache
src/logo.png

**/._*
Manifest.toml
/build

\.DS_Store

WGLMakie/test/reference_images/
GLMakie/test/reference_images/
CairoMakie/test/reference_images/
RPRMakie/test/recorded/

CairoMakie/src/display.svg
CairoMakie/src/display.pdf
CairoMakie/src/display.png
monorepo
.vscode/settings.json
docs/documentation/news.md

!metrics/ttfp/Manifest.toml
metrics/ttfp/current-pr-project/
metrics/ttfp/benchmark-projects/*
*benchmark.json
benchmark_results
WGLMakie/test/electron.log
