*.jl.cov
*.jl.*.cov
*.jl.mem
src/.cache
src/logo.png
**/._*
Manifest.toml
/build

\.DS_Store
CairoMakie/src/display.*

WGLMakie/test/recorded/
GLMakie/test/recorded/
GLMakie/test/recorded_glmakie/
CairoMakie/test/recorded/
monorepo
