name = "Makie"
uuid = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
authors = ["Simon Danisch", "Julius Krumbiegel"]
version = "0.15.0"

[deps]
Animations = "27a7e980-b3e6-11e9-2bcd-0b925532e340"
Artifacts = "56f22d72-fd6d-98f1-02f0-08ddc0907c33"
Base64 = "2a0f44e3-6c83-55bd-87e4-b1978d98bd5f"
ColorBrewer = "a2cac450-b92f-5266-8821-25eda20663c8"
ColorSchemes = "35d6a980-a343-548e-a6ea-1d62b119f2f4"
ColorTypes = "3da002f7-5984-5a60-b8a6-cbb66c0b333f"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
Contour = "d38c429a-6771-53c6-b99e-75d170b6e991"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FFMPEG = "c87230d0-a227-11e9-1b43-d7ebe4e7570a"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
FixedPointNumbers = "53c48c17-4a7d-5ca2-90c5-79b7896eea93"
Formatting = "59287772-0a20-5a39-b81b-1366585eb4c0"
FreeType = "b38be410-82b0-50bf-ab77-7b57e271db43"
FreeTypeAbstraction = "663a7486-cb36-511b-a19d-713bb74d65c9"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
GridLayoutBase = "3955a311-db13-416c-9275-1d80ed98e5e9"
ImageIO = "82e4d734-157c-48bb-816b-45c225c6df19"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
Isoband = "f1662d9f-8043-43de-a69a-05efc1cc6ff4"
KernelDensity = "5ab0869b-81aa-558d-bb23-cbf5423bbe9b"
LaTeXStrings = "b964fa9f-0449-5b57-a5c2-d3ea65f4040f"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MakieCore = "20f20a25-4f0e-4fdf-b5d1-57303727442b"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
Match = "7eb4fadd-790c-5f42-8a69-bfa0b872bfbf"
MathTeXEngine = "0a4f8689-d25c-4efe-a92b-7142dfc1aa53"
Observables = "510215fc-4207-5dde-b226-833fc4488ee2"
Packing = "19eb6ba3-879d-56ad-ad62-d5c202156566"
PlotUtils = "995b91a9-d308-5afd-9ec6-746e21dbc043"
PolygonOps = "647866c9-e3ac-4575-94e7-e3d426903924"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"
Showoff = "992d4aef-0814-514b-bc4d-f2e9a6c4116f"
SignedDistanceFields = "73760f76-fbc4-59ce-8f25-708e95d2df96"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
StatsFuns = "4c63d2b9-4356-54db-8cca-17b64c39e42c"
StructArrays = "09ab397b-f2b6-538f-b94a-2f83cf4a842a"
UnicodeFun = "1cfade01-22cf-5700-b092-accc4b62d6e1"

[compat]
Animations = "0.4"
Artifacts = "1.3"
ColorBrewer = "0.4"
ColorSchemes = "3.5"
ColorTypes = "0.8, 0.9, 0.10, 0.11"
Colors = "0.9, 0.10, 0.11, 0.12"
Contour = "0.5"
Distributions = "0.17, 0.18, 0.19, 0.20, 0.21, 0.22, 0.23, 0.24, 0.25"
DocStringExtensions = "0.8"
FFMPEG = "0.2, 0.3, 0.4"
FileIO = "1.1"
FixedPointNumbers = "0.6, 0.7, 0.8"
Formatting = "0.4"
FreeType = "3.0, 4.0"
FreeTypeAbstraction = "0.8, 0.9"
GeometryBasics = "0.3.5, 0.4"
GridLayoutBase = "0.5.5"
ImageIO = "0.2, 0.3, 0.4, 0.5"
IntervalSets = "0.3, 0.4, 0.5"
Isoband = "0.1"
KernelDensity = "0.5, 0.6"
LaTeXStrings = "1.2"
MakieCore = "0.1.3"
Match = "1.1"
MathTeXEngine = "0.1"
Observables = "0.4"
Packing = "0.4"
PlotUtils = "1"
PolygonOps = "0.1.1"
Showoff = "0.3, 1.0.2"
SignedDistanceFields = "0.4"
StaticArrays = "0.12, 1.0"
StatsBase = "0.31, 0.32, 0.33"
StatsFuns = "0.9"
StructArrays = "0.3, 0.4, 0.5, 0.6"
UnicodeFun = "0.4"
julia = "1.3"
