name = "CairoMakie"
uuid = "13f3f980-e62b-5c42-98c6-ff1f3baf88f0"
author = ["Simon Danisch <sdanisch@gmail.com>"]
version = "0.2.8"

[deps]
AbstractPlotting = "537997a7-5e4e-5d89-9595-2241ea00577e"
Cairo = "159f3aea-2a34-519c-b102-8c37f9878175"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
FreeType = "b38be410-82b0-50bf-ab77-7b57e271db43"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
AbstractPlotting = "0.11"
Cairo = "1.0.4"
Colors = "0.9, 0.10, 0.11, 0.12"
FFTW = "1"
FileIO = "1.1"
FreeType = "3"
GeometryBasics = "0.2"
MakieGallery = "0.2.9"
StaticArrays = "0.12"
julia = "1.3"

[extras]
GeoMakie = "db073c08-6b98-4ee5-b6a4-5efafb3259c6"
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
MakieGallery = "dbd62bd0-c9f5-5087-a2e1-f5c4bb0cec90"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["MakieGallery", "ImageMagick", "GeoMakie", "Test"]
