name = "Makie"
uuid = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
version = "0.9.5"

[deps]
AbstractPlotting = "537997a7-5e4e-5d89-9595-2241ea00577e"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
GLMakie = "e9467ef8-e4e7-5192-8a1a-b1aee30e663a"
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
StatsMakie = "65254759-4cff-5aa5-8326-61ce017a8c70"

[compat]
AbstractPlotting = "≥ 0.9.9"
GLMakie = "≥ 0.0.7"
MakieGallery = "≥ 0.1.0"
StaticArrays = "0"
StatsMakie = "≥ 0.0.6"
julia = "≥ 1"


[extras]
AxisArrays = "39de3d68-74b9-583c-8d2d-e117c070f3a9"
Base64 = "2a0f44e3-6c83-55bd-87e4-b1978d98bd5f"
ColorSchemes = "35d6a980-a343-548e-a6ea-1d62b119f2f4"
ColorTypes = "3da002f7-5984-5a60-b8a6-cbb66c0b333f"
ColorVectorSpace = "c3611d14-8923-5661-9e6a-0046d554d3a4"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DifferentialEquations = "0c46a032-eb83-5123-abaf-570d42b7fbaa"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
FixedPointNumbers = "53c48c17-4a7d-5ca2-90c5-79b7896eea93"
FreeType = "b38be410-82b0-50bf-ab77-7b57e271db43"
FreeTypeAbstraction = "663a7486-cb36-511b-a19d-713bb74d65c9"
GDAL = "add2ef01-049f-52c4-9ee2-e494f65e021a"
GLFW = "f7f18e0c-5ee9-5ccd-a5bf-e8befd85ed98"
GeometryTypes = "4d00f742-c7ba-57c2-abde-4428a4b178cb"
ImageAxes = "2803e5a7-5153-5ecf-9a86-9b4c37f5f5ac"
ImageCore = "a09fc81d-aa75-5fe9-8630-4744c3626534"
ImageFiltering = "6a3955dd-da59-5b1f-98d4-e7296123deb5"
ImageTransformations = "02fcd773-0e25-5acc-982a-7f6622650795"
IndirectArrays = "9b13fd28-a010-5f03-acff-a1bbcff69959"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MakieGallery = "dbd62bd0-c9f5-5087-a2e1-f5c4bb0cec90"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
ModernGL = "66fc600b-dfda-50eb-8b99-91cfa97b1301"
Observables = "510215fc-4207-5dde-b226-833fc4488ee2"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
ParameterizedFunctions = "65888b18-ceab-5e60-b2b9-181511a3b968"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
RDatasets = "ce6b1742-4840-55fa-b093-852dadbb1d8b"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
ZipFile = "a5390f91-8eb1-5f08-bee0-b1d1ffed6cea"

[targets]
test = ["Pkg", "Statistics", "Observables", "IntervalSets", "Test", "Distributions", "MakieGallery", "ParameterizedFunctions", "Random", "MeshIO", "ZipFile", "FixedPointNumbers", "IterTools", "ColorSchemes", "Serialization", "LinearAlgebra", "IndirectArrays", "ImageFiltering", "FreeType", "AxisArrays", "ColorTypes", "Base64", "ColorVectorSpace", "OrdinaryDiffEq", "RDatasets", "GeometryTypes", "Colors", "ModernGL", "FileIO", "ImageCore", "StaticArrays", "DifferentialEquations", "FreeTypeAbstraction", "GLFW", "DataFrames", "GDAL", "ImageAxes", "Printf", "ImageTransformations", "Markdown"]
