name = "AbstractPlotting"
uuid = "537997a7-5e4e-5d89-9595-2241ea00577e"
version = "0.10.1"

[deps]
AbstractNumbers = "85c772de-338a-5e7f-b815-41e76c26ac1f"
ColorBrewer = "a2cac450-b92f-5266-8821-25eda20663c8"
ColorSchemes = "35d6a980-a343-548e-a6ea-1d62b119f2f4"
ColorTypes = "3da002f7-5984-5a60-b8a6-cbb66c0b333f"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
Contour = "d38c429a-6771-53c6-b99e-75d170b6e991"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FFMPEG = "c87230d0-a227-11e9-1b43-d7ebe4e7570a"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
FixedPointNumbers = "53c48c17-4a7d-5ca2-90c5-79b7896eea93"
FreeType = "b38be410-82b0-50bf-ab77-7b57e271db43"
FreeTypeAbstraction = "663a7486-cb36-511b-a19d-713bb74d65c9"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
Observables = "510215fc-4207-5dde-b226-833fc4488ee2"
Packing = "19eb6ba3-879d-56ad-ad62-d5c202156566"
PlotUtils = "995b91a9-d308-5afd-9ec6-746e21dbc043"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"
Showoff = "992d4aef-0814-514b-bc4d-f2e9a6c4116f"
SignedDistanceFields = "73760f76-fbc4-59ce-8f25-708e95d2df96"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StructArrays = "09ab397b-f2b6-538f-b94a-2f83cf4a842a"
UnicodeFun = "1cfade01-22cf-5700-b092-accc4b62d6e1"

[compat]
AbstractNumbers = "0.2"
ColorBrewer = "0.4"
ColorSchemes = "3.5"
ColorTypes = "0.8, 0.9, 0.10"
Colors = "0.9, 0.10, 0.11, 0.12"
Contour = "0.5"
DocStringExtensions = "0.8"
FFMPEG = "0.2, 0.3"
FileIO = "1.1"
FixedPointNumbers = "0.6, 0.7, 0.8"
FreeType = "3.0"
FreeTypeAbstraction = "0.7"
GLMakie = "0.1"
GeometryBasics = "0.2.2"
ImageMagick = "1"
IntervalSets = "0.3, 0.4, 0.5"
MakieGallery = "0.2"
MeshIO = "0.4"
Observables = "0.3.1"
Packing = "0.4"
PlotUtils = "0.6.2"
Showoff = "0.3"
SignedDistanceFields = "0.4"
StaticArrays = "0.12"
StructArrays = "0.3.0, 0.4"
UnicodeFun = "0.4"
julia = "1.0"

[extras]
GLFW = "f7f18e0c-5ee9-5ccd-a5bf-e8befd85ed98"
GLMakie = "e9467ef8-e4e7-5192-8a1a-b1aee30e663a"
MakieGallery = "dbd62bd0-c9f5-5087-a2e1-f5c4bb0cec90"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "MeshIO", "GLMakie", "MakieGallery", "GLFW"]
