name = "Makie"
uuid = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
version = "0.9.3"

[deps]
AbstractPlotting = "537997a7-5e4e-5d89-9595-2241ea00577e"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
GLMakie = "e9467ef8-e4e7-5192-8a1a-b1aee30e663a"
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
QuartzImageIO = "dca85d43-d64c-5e67-8c65-017450d5d020"

[compat]
AbstractPlotting = ">=0.9.6"
GLMakie = ">=0.0.5"

[extras]
BinaryProvider = "b99e7846-7c00-51b0-8f62-c81ae34c0232"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
GDAL = "add2ef01-049f-52c4-9ee2-e494f65e021a"
ImageFiltering = "6a3955dd-da59-5b1f-98d4-e7296123deb5"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
RData = "df47a6cb-8c03-5eed-afd8-b6050d6c41da"
RDatasets = "ce6b1742-4840-55fa-b093-852dadbb1d8b"
MakieGallery = "dbd62bd0-c9f5-5087-a2e1-f5c4bb0cec90"
StatsMakie = "65254759-4cff-5aa5-8326-61ce017a8c70"


[targets]
test = ["MakieGallery", "MeshIO", "ImageFiltering", "BinaryProvider", "DataFrames", "RDatasets", "GDAL", "RData", "DataFrames", "StatsMakie"]
