name = "GLMakie"
uuid = "e9467ef8-e4e7-5192-8a1a-b1aee30e663a"
version = "0.0.15"

[deps]
AbstractPlotting = "537997a7-5e4e-5d89-9595-2241ea00577e"
ColorTypes = "3da002f7-5984-5a60-b8a6-cbb66c0b333f"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
FixedPointNumbers = "53c48c17-4a7d-5ca2-90c5-79b7896eea93"
GLFW = "f7f18e0c-5ee9-5ccd-a5bf-e8befd85ed98"
GeometryTypes = "4d00f742-c7ba-57c2-abde-4428a4b178cb"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
ModernGL = "66fc600b-dfda-50eb-8b99-91cfa97b1301"
Observables = "510215fc-4207-5dde-b226-833fc4488ee2"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
AbstractPlotting = "^0.9.15"
ColorTypes = "0.8, 0.9"
Colors = "0.9, 0.10, 0.11"
FileIO = "^1.1"
FixedPointNumbers = "0.6, 0.7, 0.8"
GLFW = "^3"
GeometryTypes = "^0.7.2"
MeshIO = "^0.3"
ModernGL = "^1"
Observables = "0.2, 0.3"
StaticArrays = "0.6.6,0.7,0.8,0.9,0.10,0.11,0.12"
julia = "1"

[extras]
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
MakieGallery = "dbd62bd0-c9f5-5087-a2e1-f5c4bb0cec90"

[targets]
test = ["Makie", "MakieGallery"]
