name = "WGLMakie"
uuid = "276b4fcb-3e11-5398-bf8b-a0c2d153d008"
authors = ["SimonDanisch <sdanisch@gmail.com>"]
version = "0.1.5"

[deps]
AbstractPlotting = "537997a7-5e4e-5d89-9595-2241ea00577e"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
GeometryTypes = "4d00f742-c7ba-57c2-abde-4428a4b178cb"
Hyperscript = "47d2ed2b-36de-50cf-bf87-49c2cf4b8b91"
ImageTransformations = "02fcd773-0e25-5acc-982a-7f6622650795"
JSServe = "824d6782-a2ef-11e9-3a09-e5662e0c26f9"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Observables = "510215fc-4207-5dde-b226-833fc4488ee2"
ShaderAbstractions = "65257c39-d410-5151-9873-9b3e5be5013e"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
AbstractPlotting = "0.9.17"
Colors = "0.9, 0.10, 0.11"
FileIO = "1.1"
GeometryBasics = "0.1"
GeometryTypes = "0.7"
Hyperscript = "0.0.3"
ImageTransformations = "0.7,0.8"
JSServe = "^0.3.4"
Observables = "0.2.0"
ShaderAbstractions = "0.1.1"
StaticArrays = "0.12, 0.1"
julia = "1.0"

[extras]
ElectronDisplay = "d872a56f-244b-5cc9-b574-2017b5b909a8"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
StatsMakie = "65254759-4cff-5aa5-8326-61ce017a8c70"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
MakieGallery = "dbd62bd0-c9f5-5087-a2e1-f5c4bb0cec90"

[targets]
test = ["Test", "ElectronDisplay", "MakieGallery", "StatsMakie", "MeshIO"]
