name = "Makie"
uuid = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
version = "0.9.5"

[deps]
AbstractPlotting = "537997a7-5e4e-5d89-9595-2241ea00577e"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
GLMakie = "e9467ef8-e4e7-5192-8a1a-b1aee30e663a"
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
StatsMakie = "65254759-4cff-5aa5-8326-61ce017a8c70"

[compat]
AbstractPlotting = "0.9.27"
FileIO = "1.1"
GLMakie = "0.0.18"
ImageMagick = "0.7, 1.0"
MakieGallery = "0.1.10"
MeshIO = "0.3"
StatsMakie = "0.1.4"
julia = "1"

[extras]
Animations = "27a7e980-b3e6-11e9-2bcd-0b925532e340"
GLFW = "f7f18e0c-5ee9-5ccd-a5bf-e8befd85ed98"
MakieGallery = "dbd62bd0-c9f5-5087-a2e1-f5c4bb0cec90"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "MakieGallery", "Animations", "MeshIO", "GLFW"]
