name = "Makie"
uuid = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
authors = ["Simon Danisch", "Julius Krumbiegel"]
version = "0.24.6"

[deps]
Animations = "27a7e980-b3e6-11e9-2bcd-0b925532e340"
Base64 = "2a0f44e3-6c83-55bd-87e4-b1978d98bd5f"
CRC32c = "8bf52ea8-c179-5cab-976a-9e18b702a9bc"
ColorBrewer = "a2cac450-b92f-5266-8821-25eda20663c8"
ColorSchemes = "35d6a980-a343-548e-a6ea-1d62b119f2f4"
ColorTypes = "3da002f7-5984-5a60-b8a6-cbb66c0b333f"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
ComputePipeline = "95dc2771-c249-4cd0-9c9f-1f3b4330693c"
Contour = "d38c429a-6771-53c6-b99e-75d170b6e991"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DelaunayTriangulation = "927a84f5-c5f4-47a5-9785-b46e178433df"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
Downloads = "f43a241f-c20a-4ad4-852c-f6b1247861c6"
FFMPEG_jll = "b22a6f82-2f65-5046-a5b2-351ab43fb4e5"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
FilePaths = "8fc22ac5-c921-52a6-82fd-178b2807b824"
FixedPointNumbers = "53c48c17-4a7d-5ca2-90c5-79b7896eea93"
Format = "1fa38f19-a742-5d3f-a2b9-30dd87b9d5f8"
FreeType = "b38be410-82b0-50bf-ab77-7b57e271db43"
FreeTypeAbstraction = "663a7486-cb36-511b-a19d-713bb74d65c9"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
GridLayoutBase = "3955a311-db13-416c-9275-1d80ed98e5e9"
ImageBase = "c817782e-172a-44cc-b673-b171935fbb9e"
ImageIO = "82e4d734-157c-48bb-816b-45c225c6df19"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
InverseFunctions = "3587e190-3f89-42d0-90ee-14403ec27112"
Isoband = "f1662d9f-8043-43de-a69a-05efc1cc6ff4"
KernelDensity = "5ab0869b-81aa-558d-bb23-cbf5423bbe9b"
LaTeXStrings = "b964fa9f-0449-5b57-a5c2-d3ea65f4040f"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MacroTools = "1914dd2f-81c6-5fcd-8719-6d5c9610ff09"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
MathTeXEngine = "0a4f8689-d25c-4efe-a92b-7142dfc1aa53"
Observables = "510215fc-4207-5dde-b226-833fc4488ee2"
OffsetArrays = "6fe1bfb0-de20-5000-8ca7-80f57d26f881"
PNGFiles = "f57f5aa1-a3ce-4bc8-8ab9-96f992907883"
Packing = "19eb6ba3-879d-56ad-ad62-d5c202156566"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
PlotUtils = "995b91a9-d308-5afd-9ec6-746e21dbc043"
PolygonOps = "647866c9-e3ac-4575-94e7-e3d426903924"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
REPL = "3fa0cd96-eef1-5676-8a61-b3b8758bbffb"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RelocatableFolders = "05181044-ff0b-4ac5-8273-598c1e38db00"
Scratch = "6c6a2e73-6563-6170-7368-637461726353"
ShaderAbstractions = "65257c39-d410-5151-9873-9b3e5be5013e"
Showoff = "992d4aef-0814-514b-bc4d-f2e9a6c4116f"
SignedDistanceFields = "73760f76-fbc4-59ce-8f25-708e95d2df96"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
StatsFuns = "4c63d2b9-4356-54db-8cca-17b64c39e42c"
StructArrays = "09ab397b-f2b6-538f-b94a-2f83cf4a842a"
TriplotBase = "981d1d27-644d-49a2-9326-4793e63143c3"
UnicodeFun = "1cfade01-22cf-5700-b092-accc4b62d6e1"
Unitful = "1986cc42-f94f-5a68-af5c-568840ba703d"

[weakdeps]
DynamicQuantities = "06fc5a27-2a28-4c7c-a15d-362465fb6821"

[extensions]
MakieDynamicQuantitiesExt = "DynamicQuantities"

[compat]
Animations = "0.4"
Base64 = "1.0, 1.6"
CRC32c = "1.0, 1.6"
ColorBrewer = "0.4"
ColorSchemes = "3.5"
ColorTypes = "0.8, 0.9, 0.10, 0.11, 0.12"
Colors = "0.9, 0.10, 0.11, 0.12, 0.13"
ComputePipeline = "0.1.1"
Contour = "0.5, 0.6"
DelaunayTriangulation = "1.0"
Distributions = "0.17, 0.18, 0.19, 0.20, 0.21, 0.22, 0.23, 0.24, 0.25"
DocStringExtensions = "0.8, 0.9"
Downloads = "1, 1.6"
DynamicQuantities = "1, 1.8"
FFMPEG_jll = "4, 6, 7"
FileIO = "1.6"
FilePaths = "0.8"
FixedPointNumbers = "0.6, 0.7, 0.8"
Format = "1.3"
FreeType = "3.0, 4.0"
FreeTypeAbstraction = "0.10.3"
GeometryBasics = "0.5.9"
GridLayoutBase = "0.11"
ImageBase = "0.1.7"
ImageIO = "0.5, 0.6"
InteractiveUtils = "1.0, 1.6"
Interpolations = "0.14, 0.15.1, 0.16"
IntervalSets = "0.3, 0.4, 0.5, 0.6, 0.7"
InverseFunctions = "0.1"
Isoband = "0.1"
KernelDensity = "0.5, 0.6"
LaTeXStrings = "1.2"
LinearAlgebra = "1.0, 1.6"
MacroTools = "0.5"
Markdown = "1.0, 1.6"
MathTeXEngine = "0.5, 0.6"
Observables = "0.5.5"
OffsetArrays = "1"
PNGFiles = "0.4.4"
Packing = "0.5"
Pkg = "1.10, 1.11.0"
PlotUtils = "1.4.2"
PolygonOps = "0.1.1"
PrecompileTools = "1.0"
Printf = "1.0, 1.6"
REPL = "1.0, 1.6"
Random = "1.0, 1.6"
RelocatableFolders = "0.1, 0.2, 0.3, 1.0"
Scratch = "1"
ShaderAbstractions = "0.5"
Showoff = "0.3, 1.0.2"
SignedDistanceFields = "0.4"
SparseArrays = "1.0, 1.6"
Statistics = "1, 1.6"
StatsBase = "0.31, 0.32, 0.33, 0.34"
StatsFuns = "0.9, 1.0"
StructArrays = "0.3, 0.4, 0.5, 0.6, 0.7"
TriplotBase = "=0.1.0"
UnicodeFun = "0.4"
Unitful = "1"
julia = "1.10"

[sources.ComputePipeline]
path = "../ComputePipeline"