html {
    font-size: 18px;
}

video {
    max-width: 100%;
}

/* plotting functions overview page */

.plotting-functions-grid {
    /* columns: 3; */
}

.plotting-functions-grid a:hover {
    text-decoration: none;
}

.plotting-functions-item {
    border: 1px solid #ddd;
    break-inside: avoid;
    margin-bottom: 1em;
    border-radius: 4px;
    /* box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1); */
}

.plotting-functions-item h2 {
    border-bottom: 1px solid #ddd;
    margin: 0;
    color: #444;
    padding: 0.1em 0.3em;
    background-color: #f4f4f4;
}

img.plotting-function-thumb {
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.14);
}

.plotting-functions-thumbcontainer {
    padding: 0.75em;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.75em;
}

@media (max-width: 480px) {
    .plotting-functions-thumbcontainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* docstrings */

.docstring {
    border: 1px solid #ddd;
    background-color: #fbfbfb;
}

.doc-header {
    background-color: #f4f4f4;
}

h2.doc-header {
    margin: 0 0 0 0;
    padding-left: 0.3em;
    border: none;
    border-bottom: 1px solid #ddd;
}

.doc-content {
    padding: 0.3em;
}

/* admonition boxes */

.admonition {
    padding: 0.5em;
    background-color: #b5b5b5;
    border-style: solid;
    border-width: 1px;
    border-color: #363636;
    border-radius: 4px;
    font-size: 1rem;
}

.admonition strong {
    color: currentColor;
}

.admonition.small, #documenter .docs-sidebar form.docs-search>input.admonition {
    font-size: 0.75rem;
}

.admonition.medium {
    font-size: 1.25rem;
}

.admonition.large {
    font-size: 1.5rem;
}

.admonition.default {
    background-color: #b5b5b5;
    border-color: #363636;
}

.admonition.default>.admonition-title {
    background-color: #363636;
    color: #fff;
}

.admonition.default>.admonition-body {
    color: #fff;
}

.admonition.note {
    background-color: #def0fd;
    border-color: #209cee;
}

.admonition.note>.admonition-title {
    background-color: #209cee;
    color: #fff;
}

.admonition.note>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.success {
    background-color: #bdf4d1;
    border-color: #22c35b;
}

.admonition.success>.admonition-title {
    background-color: #22c35b;
    color: #fff;
}

.admonition.success>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.warning {
    background-color: #fff3c5;
    border-color: #ffdd57;
}

.admonition.warning>.admonition-title {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
}

.admonition.warning>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.danger {
    background-color: #ffaba7;
    border-color: #da0b00;
}

.admonition.danger>.admonition-title {
    background-color: #da0b00;
    color: #fff;
}

.admonition.danger>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.compat {
    background-color: #bdeff5;
    border-color: #1db5c9;
}

.admonition.compat>.admonition-title {
    background-color: #1db5c9;
    color: #fff;
}

.admonition.compat>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition-title {
    /* counter padding of admonition-note */
    margin: -0.5em;
    color: #fff;
    background-color: #363636;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    line-height: 1.25;
    padding: 0.75em;
    position: relative;
}

.admonition-title:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.75em;
    content: "\f06a";
}

.admonition-body {
    color: #222222;
    padding: 1em 1.25em;
}

.admonition-body pre {
    background-color: whitesmoke;
}

.admonition-body code {
    background-color: rgba(0, 0, 0, 0.05);
}

/* tables */

table {
    border-collapse: collapse;
    border: none;
}

thead {
    display: table-header-group;
}

td {
    border: 1px solid #ececec;
}

th {
    background: #f2f2f2;
    border: 1px solid #dbdbdb;
}

/* masthead */

img.masthead-icon {
    height: 1.5em;
}

.title-icon img {
    height: 2em;
}

a.title-icon {
    margin-left: 0;
}

/* lists */

ul {
    margin: 0;
    padding: 0 0 0 1em;
}

ol {
    margin: 0;
    padding: 0 0 0 1em;
}

/* links */

.franklin-content a {
    color: #6f6f6f;
    text-decoration: underline #cacaca;
}

.franklin-content a:hover {
    color: #2b5a68;
    text-decoration: underline #2b5a68;
}

.franklin-content a:visited {
    color: #6f6f6f;
    text-decoration: underline #cacaca;
}

/* start page boxes */

.box-container {
    display: grid;
    grid-gap: 1em;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    position: relative;
    background: rgb(241, 241, 241);
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.11);
    font-size: var(--small);
}

.box img {
    margin-top: 1em;
    border-radius: 0.3em;
}

.box-content {}

@media (max-width: 480px) {
    .box-container {
        grid-template-columns: 1fr;
    }
}

.title {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-bottom: 1em;
}

.title a {
    text-decoration: none;
    color: black;
}

a.boxlink {
    text-decoration: none;
    display: block;
}

/* banner */

.banner {
    margin-top: 2em;
    border-radius: 0.5em;
}

@media (max-width: 480px) {
    .banner {
        margin-top: 0;
        border-radius: 0;
        margin-left: -1em !important;
        margin-right: -1em !important;
        max-width: 100vw !important;
    }
}

/* navbar */

#navbar ul li {
    margin: 0;
}

#navbar a {
    text-decoration: none;
    color: #83898f;
    display: block;
}

#navbar a.active {
    color: black;
}

#navbar a:hover {
    color: black;
}

#navbar ul {
    list-style: none;
    padding: 0;
}

#navbar ul ul {
    padding-left: 0.5em;
}

#navbar li ul {
    margin-top: 0;
    border-left: 1px solid #eee;
}

/* #navbar ul ul.collapsed {
    display: none;
} */

/* #navbar ul li a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
}

#navbar ul.collapsed li a::after {
    content: "\f054";
} */

.franklin-content {
    grid-column: 2;
    grid-row: 1;
}

#main {
    max-width: none;
    display: block;
}

#navbar-container {
    display: block;
    position: fixed;
    left: -18rem;
    transition: left 0.3s;
    height: 100%;
    width: 18rem;
    z-index: 10;
    background: white;
    z-index: 30;
    top: 0;
    padding: 1em 0 1em 1em;
}

#navbar {
    height: 100%;
    padding-right: 1em;
    overflow-y: auto;
}

#overlay {
    height: 100vh;
    width: 100vw;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 25;
    transition: 0.3s;
    display: none;
    opacity: 0;
}

#overlay.visible {
    display: block;
    opacity: 0.3;
}

#navbar-container.visible {
    left: 0;
    box-shadow: 0 1px 13px 3px rgba(0, 0, 0, 0.11);
}

.masthead ul.visible-links {
    display: none;
}

.greedy-nav__toggle {
    display: block;
    margin-left: auto;
}

@media (min-width: 768px) {
    #main {
        max-width: 768px;
        display: block;
    }
    .masthead ul.visible-links {
        display: flex;
    }
    .masthead__inner-wrap {
        max-width: 768px;
    }
    .greedy-nav__toggle {
        display: block;
        margin-left: 2rem;
    }
}

@media (min-width: 1100px) {
    #main {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 250px 800px;
        grid-gap: 50px;
    }
    .masthead__inner-wrap {
        max-width: 1100px;
    }
    #navbar-container {
        float: left;
        background: transparent;
        position: static;
        grid-column: 1;
        grid-row: 1;
        font-size: smaller;
        width: 100%;
        padding: 0;
        z-index: 0;
    }
    #navbar {
        position: sticky;
        top: 4em;
        height: auto;
        max-height: calc(100vh - 4em);
    }
    .greedy-nav__toggle {
        display: none;
    }
}

@media (min-width: 1400px) {
    #main {
        max-width: 1400px;
        display: grid;
        grid-template-columns: 250px 800px 250px;
        grid-gap: 2em;
    }
    #contenttable-container {
        display: block;
        position: static;
        overflow-y: auto;
        grid-column: 3;
        grid-row: 1;
        font-size: smaller;
    }
    #contenttable {
        display: block;
        position: fixed;
        top: 4em;
        overflow-y: auto;
    }
    .masthead__inner-wrap {
        max-width: 1400px;
    }
}

html {
    scroll-padding-top: 3.5rem;
}

.docs-chevron {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 0.75rem;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.docs-chevron::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
}

input.collapse-toggle {
    display: none;
}

#navbar input:checked~div label.tocexpander .docs-chevron::before {
    content: "\f078";
}

#navbar ul ul {
    display: none;
}

#navbar ul.page-content {
    display: block;
    background: rgb(250, 250, 250);
}

#navbar ul.page-content ul {
    display: block;
    background: rgb(250, 250, 250);
}

#navbar input:checked~ul {
    display: block;
}

#navbar div.tocitem-container {
    display: flex;
}

.tocexpander {
    margin-left: auto;
}

.result-title a {
    text-decoration: none;
}

.result-title a:hover {
    text-decoration: underline;
}

.result-preview {
    color: #808080;
}

.resultCount {
    color: #808080;
}

.result-query {
    font-weight: bold;
}

#lunrSearchForm {
    margin: 1em 0;
    padding: 0;
    background-color: transparent;
}

#lunrSearchForm input {
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.04);
    margin: 1em 0;
    padding: 0.25em 0.5em;
    border-radius: 1em;
    border: 1px solid #ddd;
}