name = "WGLMakie"
uuid = "276b4fcb-3e11-5398-bf8b-a0c2d153d008"
authors = ["SimonDanisch <sdanisch@gmail.com>"]
version = "0.4.4"

[deps]
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
FreeTypeAbstraction = "663a7486-cb36-511b-a19d-713bb74d65c9"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
Hyperscript = "47d2ed2b-36de-50cf-bf87-49c2cf4b8b91"
ImageMagick = "6218d12a-5da1-5696-b52f-db25d2ecc6d1"
JSServe = "824d6782-a2ef-11e9-3a09-e5662e0c26f9"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
Observables = "510215fc-4207-5dde-b226-833fc4488ee2"
ShaderAbstractions = "65257c39-d410-5151-9873-9b3e5be5013e"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
Colors = "0.11, 0.12"
FileIO = "1.1"
FreeTypeAbstraction = "0.8, 0.9"
GeometryBasics = "0.3, 0.4"
Hyperscript = "0.0.3, 0.0.4"
ImageMagick = "1.1"
JSServe = "1.2"
Makie = "=0.15.0"
Observables = "0.4"
ShaderAbstractions = "0.2.1"
StaticArrays = "0.12, 1.0"
julia = "1.3"

[extras]
ElectronDisplay = "d872a56f-244b-5cc9-b574-2017b5b909a8"
MeshIO = "7269a6da-0436-5bbc-96c2-40638cbb6118"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "ElectronDisplay", "MeshIO"]
