name = "WGLMakie"
uuid = "276b4fcb-3e11-5398-bf8b-a0c2d153d008"
authors = ["SimonDanisch <sdanisch@gmail.com>"]
version = "0.13.6"

[deps]
Bonito = "824d6782-a2ef-11e9-3a09-e5662e0c26f8"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
FreeTypeAbstraction = "663a7486-cb36-511b-a19d-713bb74d65c9"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
Hyperscript = "47d2ed2b-36de-50cf-bf87-49c2cf4b8b91"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
Observables = "510215fc-4207-5dde-b226-833fc4488ee2"
PNGFiles = "f57f5aa1-a3ce-4bc8-8ab9-96f992907883"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
RelocatableFolders = "05181044-ff0b-4ac5-8273-598c1e38db00"
ShaderAbstractions = "65257c39-d410-5151-9873-9b3e5be5013e"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
Bonito = "4.0.12"
Colors = "0.11, 0.12, 0.13"
FileIO = "1.1"
FreeTypeAbstraction = "0.10"
GeometryBasics = "0.5"
Hyperscript = "0.0.3, 0.0.4, 0.0.5"
LinearAlgebra = "1.0, 1.6"
Makie = "=0.24.6"
Observables = "0.5.1"
PNGFiles = "0.3, 0.4"
PrecompileTools = "1.0"
RelocatableFolders = "0.1, 0.2, 0.3, 1.0"
ShaderAbstractions = "0.5"
StaticArrays = "0.12, 1.0"
julia = "1.3"

[sources.Makie]
path = "../Makie"
