html {
    font-size: 18px;
}

video {
    max-width: 100%;
}


/* plotting functions overview page */

.plotting-functions-grid {
    /* columns: 3; */
}

.plotting-functions-grid a:hover {
    text-decoration: none;
}

.plotting-functions-item {
    border: 1px solid #ddd;
    break-inside: avoid;
    margin-bottom: 1em;
    border-radius: 4px;
    /* box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1); */
}

.plotting-functions-item h2 {
    border-bottom: 1px solid #ddd;
    margin: 0;
    color: #444;
    padding: 0.1em 0.3em;
    background-color: #f4f4f4;
}

img.plotting-function-thumb {
    max-height: 150px;
    max-width: 250px;
    /* padding: 0.3em; */
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.14);
    margin: 0.5em;
}

.plotting-functions-thumbcontainer {
    padding: 0.4em;
    background-color: #fbfbfb;
}

@media (max-width: 480px) {
    .plotting-functions-thumbcontainer {
        max-height: 300px;
        overflow-y: auto;
    }

    img.plotting-function-thumb {
        max-height: none;
        max-width: calc(100% - 1em);;
    }
}


/* docstrings */

.docstring {
    border: 1px solid #ddd;
    background-color: #fbfbfb;
}

.doc-header {
    background-color: #f4f4f4;
}

h2.doc-header {
    margin: 0 0 0 0;
    padding-left: 0.3em;
    border: none;
    border-bottom: 1px solid #ddd;
}

.doc-content {
    padding: 0.3em;
}


/* admonition boxes */

.admonition {
    padding: 0.5em;
    background-color: #b5b5b5;
    border-style: solid;
    border-width: 1px;
    border-color: #363636;
    border-radius: 4px;
    font-size: 1rem;
}

.admonition strong {
    color: currentColor;
}

.admonition.small,
#documenter .docs-sidebar form.docs-search>input.admonition {
    font-size: 0.75rem;
}

.admonition.medium {
    font-size: 1.25rem;
}

.admonition.large {
    font-size: 1.5rem;
}

.admonition.default {
    background-color: #b5b5b5;
    border-color: #363636;
}

.admonition.default>.admonition-title {
    background-color: #363636;
    color: #fff;
}

.admonition.default>.admonition-body {
    color: #fff;
}

.admonition.note {
    background-color: #def0fd;
    border-color: #209cee;
}

.admonition.note>.admonition-title {
    background-color: #209cee;
    color: #fff;
}

.admonition.note>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.success {
    background-color: #bdf4d1;
    border-color: #22c35b;
}

.admonition.success>.admonition-title {
    background-color: #22c35b;
    color: #fff;
}

.admonition.success>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.warning {
    background-color: #fff3c5;
    border-color: #ffdd57;
}

.admonition.warning>.admonition-title {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
}

.admonition.warning>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.danger {
    background-color: #ffaba7;
    border-color: #da0b00;
}

.admonition.danger>.admonition-title {
    background-color: #da0b00;
    color: #fff;
}

.admonition.danger>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.compat {
    background-color: #bdeff5;
    border-color: #1db5c9;
}

.admonition.compat>.admonition-title {
    background-color: #1db5c9;
    color: #fff;
}

.admonition.compat>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition-title {
    /* counter padding of admonition-note */
    margin: -0.5em;
    color: #fff;
    background-color: #363636;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    line-height: 1.25;
    padding: 0.75em;
    position: relative;
}

.admonition-title:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.75em;
    content: "\f06a";
}

.admonition-body {
    color: #222222;
    padding: 1em 1.25em;
}

.admonition-body pre {
    background-color: whitesmoke;
}

.admonition-body code {
    background-color: rgba(0, 0, 0, 0.05);
}


/* tables */

table {
    border-collapse: collapse;
    border: none;
}

thead {
    display: table-header-group;
}

td {
    border: 1px solid #ececec;
}

th {
    background: #f2f2f2;
    border: 1px solid #dbdbdb;
}


/* masthead */

img.masthead-icon {
    height: 1.5em;
}

.title-icon img {
    height: 2em;
}

a.title-icon {
    margin-left: 0;
}

/* lists */

ul {
    margin: 0;
    padding: 0 0 0 1em;
}

ol {
    margin: 0;
    padding: 0 0 0 1em;
}

/* links */

.franklin-content a {
    color: #6f6f6f;
    text-decoration: underline #cacaca;
}

.franklin-content a:hover {
    color: #2b5a68;
    text-decoration: underline #2b5a68;

}

.franklin-content a:visited {
    color: #6f6f6f;
    text-decoration: underline #cacaca;
}
