name: Run codespell on source files

on: [pull_request]

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: codespell-project/actions-codespell@v2
      with:
        ignore_words_list: indexin,doubleclick,Heros,OT,jus,bu,te,lins,Missings
        skip: '*.js,*.vert,*.ai,*.frag,*.geom'
        only_warn: 1
