name: Benchmark
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
    branches:
      - master
      - breaking-release
jobs:
  benchmark:
    name: ${{ matrix.package }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        package:
          - CairoMakie
          - GLMakie
          - WGLMakie
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install xvfb
        run: sudo apt-get update && sudo apt-get install -y xorg-dev mesa-utils xvfb libgl1 freeglut3-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxext-dev
      - uses: julia-actions/setup-julia@v1
        with:
          version: 'nightly'
          arch: x64
      - name: Cache julia compilation
        uses: actions/cache@v3
        env:
          cache-name: cache-julia
        with:
          path: ~/.julia
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: Benchmark
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.BENCHMARK_KEY }}
          PR_NUMBER: ${{ github.event.number }}
        run: >
          DISPLAY=:0 xvfb-run -s '-screen 0 1024x768x24' julia --project=./metrics/ttfp/ ./metrics/ttfp/run-benchmark.jl ${{ matrix.package }} 7 ${{ github.event.pull_request.base.ref }}
