name: GLMakie CI
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
    branches:
      - master
      - breaking-release
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
    branches:
      - master
    tags: '*'

concurrency:
  group: glmakie-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: GLMakie Julia ${{ matrix.version }}
    env:
      MODERNGL_DEBUGGING: "true" # turn on errors when running OpenGL tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6'
          - '1' # automatically expands to the latest stable 1.x release of Julia
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v1
      - run: sudo apt-get update && sudo apt-get install -y xorg-dev mesa-utils xvfb libgl1 freeglut3-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxext-dev
      - name: Install Julia dependencies
        shell: julia --project=monorepo {0}
        run: |
          using Pkg;
          # dev mono repo versions
          pkg"dev . ./MakieCore ./GLMakie ./ReferenceTests"
          pkg"add GeometryBasics#sd/simple-mesh MeshIO#sd/lightweight-geometry"
      - name: Run the tests
        id: referencetests
        continue-on-error: true
        run: >
          DISPLAY=:0 xvfb-run -s '-screen 0 1024x768x24' julia --color=yes --project=monorepo -e 'using Pkg; Pkg.test("GLMakie", coverage=true)'
          && echo "TESTS_SUCCESSFUL=true" >> $GITHUB_ENV
      - name: Comment if there are missing refimages
        if: matrix.version == '1' && steps.referencetests.outputs.n_missing_refimages != '0'
        uses: mshick/add-pr-comment@v1
        with:
          message: |
            ## Missing reference images
            Found ${{steps.referencetests.outputs.n_missing_refimages}} new images without existing references.
            Upload new reference images before merging this PR.
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true
      - name: Upload test Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ReferenceImages_${{ matrix.os }}_${{ matrix.arch }}_${{ matrix.version }}
          path: |
            ./GLMakie/test/recorded_reference_images/
      - name: Fail after artifacts if tests failed
        if: ${{ env.TESTS_SUCCESSFUL != 'true' }}
        run: exit 1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
