name: Relocatability
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
    branches:
      - master
  push:
    tags:
      - '*'
    branches:
      - master


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  makie-relocatability:
    name: Relocatability ${{ matrix.backend }}
    env:
      MODERNGL_DEBUGGING: "true" # turn on errors when running OpenGL tests
      JULIA_NUM_PRECOMPILE_TAKS: 1
      JULIA_NUM_THREADS: 1
      JULIA_IMAGE_THREADS: 2
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
        os:
          - ubuntu-latest
        arch:
          - x64
        backend:
          - GLMakie
          - WGLMakie
          - CairoMakie
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - name: Install dependencies for GPU backends
        if: matrix.backend != 'CairoMakie'
        run: sudo apt-get update && sudo apt-get install -y xorg-dev mesa-utils xvfb libgl1 freeglut3-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxext-dev xsettingsd x11-xserver-utils
      - name: Relocatability test
        run: |
          if [ "${{ matrix.backend }}" != "CairoMakie" ]; then
            DISPLAY=:0 xvfb-run -s '-screen 0 1024x768x24' julia --color=yes ./relocatability.jl ${{ matrix.backend }}
          else
            julia --color=yes ./relocatability.jl ${{ matrix.backend }}
          fi
