name = "RPRMakie"
uuid = "22d9f318-5e34-4b44-b769-6e3734a732a6"
authors = ["Simon Danisch"]
version = "0.10.6"

[deps]
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
RadeonProRender = "27029320-176d-4a42-b57d-56729d2ad457"

[compat]
Colors = "0.9, 0.10, 0.11, 0.12, 0.13"
FileIO = "1.6"
GeometryBasics = "0.5"
LinearAlgebra = "1.0, 1.6"
Makie = "=0.24.6"
Printf = "1.0, 1.6"
RadeonProRender = "0.3.2"
julia = "1.3"

[sources.Makie]
path = "../Makie"
